@model ControlDeGasto.Models.GastoModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Egreso</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Egreso</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Agregar un nuevo gasto</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("EgresarGasto", "Egresos", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label" })                                    
                                    <input type="text" id="datepicker" name="Fecha" class="form-control">
                                </div> 
                                <div id="" class="form-group">
                                    @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Tipo, Enum.GetValues(typeof(TipoGasto)).Cast<TipoGasto>().Select(
                                         x => new SelectListItem { Text = Enum.GetName(typeof(TipoGasto), x), Value = x.ToString() }
                                         ), new { @class = "form-control" })
                                <button type="submit" id="Egresar" class="btn btn-primary">Agregar</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        var fechaSeleccionada = null;

        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: 'yyyy/dd/mm',
                autoclose: true
            });

            // Manejar el evento de cambio en el Datepicker
            $("#datepicker").on("change", function () {
                fechaSeleccionada = $(this).val();
                console.log("Fecha seleccionada: " + fechaSeleccionada);
            });

        });

        $("#Egresar").click(function (evetn) {
            event.preventDefault();
            var fechaFormateada = moment(fechaSeleccionada).format('YYYY-MM-DD');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EgresarGasto", "Egresos")',
                data: {
                    Fecha: fechaFormateada,
                    Monto: $("#Monto").val(),
                    Descripcion: $("#Descripcion").val(),
                    TipoGasto: $("#Tipo").val()
                },

                success: function (result) {
                   
                },
                error: function (result) {
                    
                },
                complete: function () {
                    alert('Se agrego El Egreso Correctamente');
                    window.location.href = '@Url.Action("Index", "Gastos")';

                }
            });
        });






    </script>
